<!doctype html>
<html lang="fr">

    <%- include('partials/header') %>

    <main>
      <%- include('partials/adminForm') %>
    </main>

    <footer>
      <%- include('partials/footer') %>
    </footer>

    <script defer src="/scripts/menu.js" ></script>

  </body>


</html>
