<!doctype html>
<html lang="fr">

    <%- include('partials/header') %>

    <main>
      <div>Votre message a bien ete envoye!</div>
      <div>Un message de confirmation vous a ete envoye.</div>
    </main>

    <footer>
      <%- include('partials/footer') %>
    </footer>

    <script defer src="/scripts/menu.js" ></script>

  </body>


</html>
