<%- include('partials/header') %>

<%- include('partials/nav') %>

<main>
<img class="img__404" src="https://www.ecommerce-nation.com/wp-content/uploads/2018/10/404-error.jpg" alt="">
</main>

<%- include('partials/footer') %>