<%- include('partials/header') %>
<%- include('partials/nav') %>

    <!-- Corps de la page -->
    <main class="error-page">
      <h1>
        Erreur côté serveur. <br />
        <a href="/">Revenir sur la page d'accueil.</a>
        error : <%= error %>
      </h1>
      <img
        src="/svg/500.svg"
        alt="Erreur 500" />
    </main>

    <%- include('partials/footer') %>
