<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="site description."
/>

<title>OCoffee</title>

<link rel="stylesheet" href="/css/reset.css" />
<link rel="stylesheet" href="/css/styles.css" />
<script type="text/javascript"
src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>
<script type="text/javascript">
  (function(){
     emailjs.init({
       publicKey: "bXGZ7ybiIz0gjNT6z",
     });
  })();
</script>

</head>
<body>

<header>
  <div class="header logo">
    <img class="header logo--img" src="/img/logo.svg" alt="OCoffee's logo">
    <span class="header logo--title"><strong> OCoffee </strong></span>
  </div>

  <nav>
    <div class="menu">
      <button class="menu button"></button>
      <div class="menu button--container">
        <ul class="menu button-list">
          <li><a href="/">Accueil</a></li>
          <li><a href="/catalogue">Catalogue</a></li>
          <li><a href="/admin">Admin</a></li>
        </ul>
      </div>
      <ul class="menu list">
        <li><a href="/">Accueil</a></li>
        <li><a href="/catalogue">Catalogue</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </div>
  </nav>
  </header>