/* .add-button .delete-button  {
    width: 100px;
    margin: 2rem;
} */


.team-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pokemon-container {
    width: 400px;
    height: 400px;
}

.type-container {
    width: 100px;
    height: 30px;
}

.pokemon-image {
    width: 200px;
    height: 200px;
}

/* .team.pokemon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
} */

.field .input {
    width: 400px;
}

#main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    place-items: center;
}

/* .team-add {
    width: 100px;
    height: 50px;   
} */

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: left; */
    margin: 0 6rem;
};


.field .input {
    width: 400px;
}
